<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/doc" class="navbar-brand">
                <img src="http://cdn.nova.scapp.io/img/sc_logo.png" alt="swisscom">
            </a>
        </div>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                {% for item in page.menu %}
                {% if item.slug != 'doc' %}
                                <li>
                                    <a href="/{{ item.slug }}">
                                        {% set foo = item.title | split('$') %}
                                            <span class="{{ foo[1] }}" ></span>
                                        {{ foo[0] }}</a>
                                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" target="_top"><span class="picto-info"></span>About</a></li>
            </ul>

        </div>
    </div>
</nav>
