<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/doc/stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/github.css"/>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title}}</title>
  </head>

  <body id="gravity-platform-docs">
    <div id="wrap">
      <header class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/doc/">Gravity‑Platform Documentation</a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            {% for node in site.pages %}
              {% if node.url != "/index.html" %}
                {% if node.path == page.path %}
                  <li class="active"><a href="/doc{{node.url}}">{{node.title}}</a></li>
		{% else %}
                  <li><a href="/doc{{node.url}}">{{node.title}}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/gravity-platform/doc/edit/develop/{{page.path}}">Edit this page on <i class="icon-github icon-large"></i></a></li>
          </ul>
        </div>
      </header>

      <section class="main-region container">
        {{ content }}
      </section>

      <div id="push"></div>
    </div>

    <section id="footer" class="footer">
      <div class="container">
        <p class="muted credit">Gravity‑Platform Documentation, Version {{site.version}}</p>
      </div>
    </section>

    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
